<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Example-objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ImageLoader.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ImageLoaderTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>812FF66C1DFDA7F80095DDA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>812FF67D1DFDA8260095DDA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8139CD841DFF5B5A00CCE576</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8139CD9B1DFF5BDD00CCE576</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8139CDB61DFF5C0700CCE576</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8139CDDF1DFF659000CCE576</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
